
<header class="header article-header">
  <%= react_component('TitleWithLink', @props) %>
</header>
<div class="list articles_list">
  <%= render :partial => "aplication/article", :collection => @articles %>
</div>
