
<header class="header article-header">
	<%= react_component('Title', {title: "Articulos sobre #{@period.title}", admin_signed_in: admin_signed_in?, path_title: 'Nuevo artículo', path:new_article_path(period_id: @period)}) %>
</header>
<div class="list articles_list">
  <%= render :partial => "aplication/article", :collection => @articles %>
</div>
