<header class="header article-header">
	<h1>Articulos sobre <%= @period.title %><a class="period-header-link"><%= link_to 'New article', new_article_path(period_id: @period) %></a></h1>
</header>
<div class="list articles_list">
	<%= render :partial => "aplication/article", :collection => @articles %>
</div>
