<%= react_component('ShowItemPage', {title: @props[:title], text: @article}) %>

<!-- <div class="comments">
  <h2>Comments</h2>
  <%= render @article.comments%>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div> -->
