<header class="header article-header">
  <%= react_component('TitleWithLink', @props) %>
</header>

<%= react_component('ArticleText', text: @article.text) %>

<div class="comments">
  <h2>Comments</h2>
  <%= render @article.comments%>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
