<%= react_component('PageTitle', @props[:title]) %>

<%= react_component('ArticleText', text: @article.text) %>

<div class="comments">
  <h2>Comments</h2>
  <%= render @article.comments%>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
