<%= react_component('PageTitle', @props[:title]) %>
<%= react_component('ItemText', text: @article.text) %>

<div class="comments">
  <h3>Comments</h3>
  <%= render @article.comments%>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
