<header class="header article-header">
  <%= react_component('Title', title: @article.title, admin_signed_in: admin_signed_in?, path_title: 'Editar', path:edit_article_path(@article)) %>
</header>

<div class="article">
  <p><%= @article.text %></p>
</div>

<div class="comments">
  <h2>Comments</h2>
  <%= render @article.comments%>

  <h3>Add a comment:</h3>
  <%= render 'comments/form' %>
</div>
