<%= react_component('PageTitle', @props[:title] ) %>

<div class="sections">
  <%= react_component('Section', {section: @props[:articles], admin: @props[:admin]}) %>
  <%= react_component('Section', {section: @props[:characters], admin: @props[:admin]})%>
</div>

