<header class="period_header">
	<h1><%= @period.title %></h1>
	<%= link_to "Edit", edit_period_path(@period)%>
</header>

<div id="articles_list">
	<%= render :partial => "aplication/article", :collection => @period.articles %>
</div>
<div id="new_article">
	<%= link_to 'New article', new_article_path(period_id: @period)%>
</div>


