<%= react_component('TitleWithLink', @props[:title] ) %>

<div class="sections">
  <%= react_component('Section', {section: @props[:articles], admin: @props[:admin]}) %>
  <%= react_component('Section', {section: @props[:characters], admin: @props[:admin]})%>

  <div class="section section_galeria">
    <h2>Galeria</h2>
  </div>

  <div class="section section_bibliografia">
    <h2>Bibliografia</h2>
  </div>
</div>

