
<header class="header period-header">
  <%= react_component('Title', title: "Periodos historicos", admin_signed_in: admin_signed_in?, path_title: 'Nuevo periodo', path:new_period_path) %>
</header>

<div class="list periods_list">
  <% @periods.each do |period| %>
    <div><%= link_to period.title, period_path(period) %></div>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>