
<header class="header period-header">
  <%= react_component('TitleWithLink', @props) %>
</header>

<%= react_component('List', { periods: @periods }) %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>