<header class="period-header">
	<h1 class="main">Periodos historicos<a><%= link_to 'New Period', new_period_path %></a></h1>
</header>

<div class="list periods_list">
	<% @periods.each do |period| %>
			<div><%= link_to period.title, period_path(period) %></div>
	<% end %>
</div>