
<header class="header period-header">
  <%= react_component('TitleWithLink', @props) %>
</header>

<ul class="list periods_list">
  <% @periods.each do |period| %>
    <li><%= link_to period.title, period_path(period) %></li>
  <% end %>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>