<header class="header character-header">
	<%= react_component('Title', @props) %>
</header>
<div class="list character_list">
  <%= render :partial => "aplication/character", :collection => @characters %>
</div>