// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#articles_list {
	padding-bottom: 20px;
}

#articles_list div {
	padding: 5px;
}

#new_article a {
	border: solid #384A5F;
	padding: 10px;
	margin-top: 10px;
}

.article p {
	max-width: 1300px;
	font-size: 18px;
	text-align: justify;
	white-space: pre-wrap;
}