
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
  min-width: 650px;
}

.site-header {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/2motiyb.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: block;
  width: 28%;
  min-width: 200px;
  height: 100%;
  position: fixed;
  bottom: 0px;
}

.site-header h1 {
  text-align: center;
}

.site-header h1 a {
  color: white;
  font-weight: 500;
}

.site-header h1 a:hover {
  color: Gray;
}

.site-header.active {
    margin-left: -270px;
}

/*-------------------------------------------
Content styling
-------------------------------------------*/

.content {
  margin: 0 4%;
  position: absolute;
  left: 28%;
}

.header a, .more a {
  font-size: 16px;
  padding-left: 10px;
  font-family: 'Oswald', sans-serif;
}

h1, h2 {
  font-family: 'Lobster', cursive;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.list div {
  padding: 5px;
}

.list a {
  font-family: 'Lobster', cursive ;
  font-size: 22px;
  text-transform: capitalize;
}

.empty {
  text-align: center;
  color: Gray;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #384A5F;
  text-decoration: none;
}

a:hover {
  color: Gray;
}

#sidebarCollapse {
  font-size: 28px;
  color: Gray;
}

/*-------------------------------------------
Form styling
-------------------------------------------*/
label {
  font-family: 'Oswald', sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #384A5F;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px 20px;
  margin: 8px 0;
  resize: none;
  border: 1px solid #384A5F;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

input[type=submit] {
  width: 100%;
  background-color: #384A5F;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;

}

input[type=submit]:hover {
  background-color: #293746;
}

/*-------------------------------------------
MEDIAQUERIES
-------------------------------------------*/
@media (max-width: 768px) {
  .site-header {
    margin-left: -270px;
  }
  .site-header.active {
    margin-left: 0;
  }
  .content {
    margin-left: -100px;
  }

  .content.active {
    margin-left: 4%;
  }
}

@media (min-width: 768px) {
  #sidebarCollapse {
    display: none;
  }
}


