
* {
  box-sizing: border-box;
}

body {
	margin: 0px;
}

.site-header {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/2motiyb.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	height: 670px;
	width: 400px;
	position: fixed;
	bottom: 0px;
	top: 0px
}

.site-header h1 {
	text-align: center;
}

h1, h2, #articles_list a, .periods_list a {
	font-family: Roboto Slab,Helvetica,Arial,sans-serif;
	color: #384A5F;
}

.content {
	padding: 0 80px;
	position: absolute;
	left: 400px;
}


