// Place all the styles related to the Periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.period-header{
	margin-bottom: 0;
}

.periods_list {
	margin-bottom: 30px
}

.periods_list div{
	padding: 5px;
}

.sections {
	display: grid;
	grid-row-gap: 10px;
	padding: 10px;
	width: 100%;
}

.section {
	padding-bottom: 20px;
	border-bottom: 1px solid #DCDCDC;
}

.section div {
	padding: 5px;
	text-transform: capitalize;
}

.more {
	text-align: right
}
